<a href="https://colab.research.google.com/github/YasSousa-carv/calculadora-rota-o-de-veiculos-em-python/blob/main/M%C3%A9todos_de_Interpola%C3%A7%C3%A3oipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
nome = 'Yasmim'
idade = 16

frase = print('Olá,meu nome é {} e tenho {}'.format(nome,idade))

Olá,meu nome é Yasmim e tenho 16

In [3]:
frase = "{1}, {0}, {2}".format("primeiro","segundo","terceiro")
print(frase)

segundo, primeiro, terceiro

In [5]:
frase = "Meu nome é {nome} e tenho {idade}".format(nome= "Yasmim", idade =16)
print(frase)

Meu nome é Yasmim e tenho 16

In [10]:
n_inteiro = 42
n_ponto_flutuante = 3.786

frase= "Numero inteiro {:d},numero de ponto flutuante {:.2f}".format(n_inteiro,n_ponto_flutuante)
print(frase)

Numero inteiro 42,numero de ponto flutuante 3.79